__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/
.vscode/
.idea/
.DS_Store
Thumbs.db

build/
tmp/
lightning_logs/
*.log

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.out
*.synctex.gz
*.toc
